body {
  margin: 0;
  padding: 0;
  font-family: 'Oxygen', sans-serif;
}

.flex-col-center {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
}

.button,
.menu
.ui.header {
  font-family: 'Oxygen', sans-serif !important;
}

.Main-root {
  min-height: 100vh;
  height: 100%;
}